@import '../../../../styles.scss';
$primary: map-get($main-theme, primary);
$primary-color: mat-color($primary);

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .student-name {
        color: darkgray; 
    }
}

.content {
    position: relative;

    .input-group {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .second-step-form {
        width: calc(100% - 6px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left, .right {
            width: 47%;
        }

        .left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .payment-type {
                display: flex;
                flex-direction: row;              

                .payment-type-label {
                    padding-right: 20px;
                }
                
                .toggle {
                    color: $primary-color;
                }
            }
            
            .bank-account {
                width: 70%;
            }
        }
        
        .field-set {
            border-radius: 5px;
            width: 100%;
        }

        .vertical-field-set {
            display: flex;
        }

        #postal-address {
            width: 70%;
            padding-right: 10px;
        }
    }

    .actions {
        position: absolute;
        bottom: 0;
        right: 20px;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.stepper-navigation {
    transform: translateY(50%);
}
