.content {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .loader {
        width: 100%;
        height: 100%;
    }

    .login-card {
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 100%;
        height: 50vh;

        animation: cardturn 1s;

        .title {
            width: 100%;
            text-align: center;

            font-size: 1.2em;
        }

        mat-card {
            width: 25%;
            position: relative;

            .card-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                transform: translateY(10%);

                width: 100%;
                height: 60%;

                align-items: center;

                .fields {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    width: 100%;
                    
                    .field {
                        width: 90%;
                    }
                }



            }

            .actions {
                position: absolute;

                bottom: 10%;
                width: 96.5%;

                display: flex;
                flex-direction: row;
                justify-content: center;

                .login-button {
                    width: 50%;
                    font-size: 1.5em;

                }
            }
        }

    }
}

@keyframes cardturn {
    0% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}