<div class="content">

    <div class="loader" *ngIf="loading">
        <app-loader 
            [stop]="stopLoading"
            (animationEnd)="onLoadingAnimationEnd()"></app-loader>
    </div>

    <div class="login-card" *ngIf="!loading">
        <mat-card>
            <mat-card-title class="title">{{'login.login' | translate}}</mat-card-title>

            <mat-card-content class="card-content">
                <div class="fields">
                    <mat-form-field class="field">
                        <input matInput [(ngModel)]="credentials.username" placeholder="{{'login.username' | translate}}">
                    </mat-form-field>
                    <mat-form-field class="field">
                        <input 
                            #passwordInput
                            type="password" 
                            matInput [(ngModel)]="credentials.password" 
                            placeholder="{{'login.password' | translate}}">
                        <mat-icon 
                            #iconPassword
                            matSuffix
                            matTooltip="{{'login.show_password' | translate}}"
                            matTooltipPosition="below"
                            (mousedown)="showPassword()"
                            (mouseup)="hidePassword()">visibility_off</mat-icon>
                    </mat-form-field>
                </div>

                <div class="as-admin">
                    <mat-checkbox color="primary" [(ngModel)]="asAdmin">{{ 'login.as_admin' | translate }}</mat-checkbox>
                </div>

            </mat-card-content>

            <mat-card-actions class="actions">
                <button class="login-button" mat-raised-button color="primary" (click)="login()">{{ 'login.login' | translate }}</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>