<h1 mat-dialog-title class="title">
    <span class="main-title">{{ 'students.creation.title' | translate }}</span>
    <span class="student-name">{{ student?.name }} {{ student?.surname }} {{ student?.lastName }}</span>
</h1>
<div mat-dialog-content class="content">

    <mat-horizontal-stepper [linear]="true" #stepper>

        <mat-step [stepControl]="firstForm">
            <form [formGroup]="firstForm">
                <ng-template matStepLabel>{{ 'students.creation.first_step.title' | translate }}</ng-template>

                <div class="first-step-form">
                    <div class="input-group">
                        <mat-form-field>
                            <input matInput 
                                    autocomplete="off"
                                    placeholder="{{ 'students.name' | translate }}" 
                                    formControlName="name" required 
                                    [(ngModel)]="student.name">
                            <mat-error>{{ 'students.name' | translate }} {{ 'students.creation.null_error' | translate }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput 
                                    autocomplete="off" 
                                    placeholder="{{ 'students.surname' | translate }}" 
                                    formControlName="surname" required 
                                    [(ngModel)]="student.surname">
                            <mat-error>{{ 'students.surname' | translate }} {{ 'students.creation.null_error' | translate }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput 
                                    autocomplete="off"
                                    placeholder="{{ 'students.last_name' | translate }}" 
                                    formControlName="last_name" required 
                                    [(ngModel)]="student.lastName">
                            <mat-error>{{ 'students.last_name' | translate }} {{ 'students.creation.null_error' | translate }}</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="input-group">
                        <mat-form-field>
                            <input matInput 
                                    autocomplete="off"
                                    placeholder="DNI" 
                                    formControlName="dni" required 
                                    [(ngModel)]="student.DNI">
                            <mat-error>DNI {{ 'students.creation.null_error' | translate }}</mat-error>
                        </mat-form-field>
                        
                        <mat-form-field>
                            <mat-label>{{ 'students.birthdate' | translate }}</mat-label>
                            <input matInput 
                                    autocomplete="off"
                                    [matDatepicker]="picker" 
                                    placeholder="MM/dd/yyyy" 
                                    formControlName="birthdate"
                                    [(ngModel)]="student.birthdate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker startView="multi-year" #picker></mat-datepicker>

                            <mat-error>{{ 'students.birthdate' | translate }} {{ 'students.creation.null_error' | translate }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
    
            </form>
            
            <div class="stepper-navigation">
                <button mat-button matStepperNext>
                    {{ 'students.creation.next' | translate }}
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </mat-step>

        <mat-step [stepControl]="secondForm">
            <form [formGroup]="secondForm">
                <ng-template matStepLabel>{{ 'students.creation.second_step.title' | translate }}</ng-template>

                <div class="second-step-form">

                    <div class="left">
                        <fieldset class="field-set">
                            <legend>{{ 'students.creation.second_step.address' | translate }}</legend>
        
                            <mat-form-field id="postal-address">
                                <input matInput
                                        placeholder="{{ 'students.creation.second_step.postal_address' | translate }}"
                                        formControlName="postal_address"
                                        (ngModel)="student.address.postalAddress">
                            </mat-form-field>
        
                            <mat-form-field>
                                <input matInput 
                                        placeholder="{{ 'students.creation.second_step.postal_code' | translate }}"
                                        formControlName="postal_code"
                                        (ngModel)="student.address.postalCode">
                            </mat-form-field>
                        </fieldset>

                        <fieldset class="field-set">
                            <legend>{{ 'students.creation.second_step.payment' | translate }}</legend>
        
                            <div class="payment-type">
                                <div class="payment-type-label">
                                    {{ 'students.creation.second_step.payment_type' | translate }}
                                </div>
                                <mat-slide-toggle 
                                    class="toggle"
                                    color="primary"
                                    (change)="paymentTypeChanged($event)" 
                                    formControlName="payment_type"
                                    [(ngModel)]="student.paymentData.paymentType">
                                        {{ 'students.creation.second_step.payment_' +
                                        (isPaymentBank()
                                        ? 'bank'
                                        : 'cash') | translate }}
                                        
                                </mat-slide-toggle>
                            </div>
        
                            <mat-form-field *ngIf="isPaymentBank()" class="bank-account">
                                <input matInput 
                                        placeholder="{{ 'students.creation.second_step.payment_bank_account' | translate }}"
                                        formControlName="bank_account"
                                        [(ngModel)]="student.paymentData.bankAccount">
                            </mat-form-field>
                        </fieldset>
                    </div>

                    <div class="right">
                        <fieldset class="field-set vertical-field-set">
                            <legend>{{ 'students.creation.second_step.contact' | translate }}</legend>
        
                            <mat-form-field>
                                <input matInput 
                                        placeholder="{{ 'students.creation.second_step.contact_phone' | translate }}"
                                        formControlName="phone"
                                        [(ngModel)]="student.contact.phoneNumber">
                            </mat-form-field>
        
                            <mat-form-field>
                                <input matInput 
                                        placeholder="{{ 'students.creation.second_step.contact_cellphone' | translate }}"
                                        formControlName="cellphone"
                                        type="phone"
                                        [(ngModel)]="student.contact.cellphoneNumber">
                            </mat-form-field>
        
                            <mat-form-field>
                                <mat-label>{{ 'students.creation.second_step.contact_email' | translate }}</mat-label>
                                <input matInput
                                        type="email"
                                        placeholder="example@domain.com"
                                        formControlName="email"
                                        [(ngModel)]="student.contact.email">
                            </mat-form-field>
                        </fieldset>

                    </div>
    
                </div>



            </form>

            <div class="stepper-navigation">
                <button mat-button matStepperPrevious>
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    {{ 'students.creation.back' | translate }}
                </button>
                <button mat-button matStepperNext>
                    {{ 'students.creation.next' | translate }}
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>{{ 'students.creation.last_step.title' | translate }}</ng-template>

            <button mat-raised-button (click)="confirm()">{{ 'students.creation.confirm' | translate }}</button>
        </mat-step>

    </mat-horizontal-stepper>
    
    <div class="actions">
        <button mat-icon-button 
                (click)="cancel()" 
                matTooltip="{{ 'students.creation.cancel' | translate }}"
                matTooltipPosition="before">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>