/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/theming';
// @import mat-core();

$main-primary: mat-palette($mat-pink);
$main-accent:  mat-palette($mat-light-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$main-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$main-theme: mat-dark-theme($main-primary, $main-accent, $main-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($main-theme);

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
