.students-table {
    padding: 10px;
    width: calc(100% - 20px);

    .table {
        width: 100%;
    }

    .table-footer {
        button {
            transform: translate(50%, -120%);
        }
    }
}