<mat-tab-group>

    <mat-tab label="First">

        <div class="students-table mat-elevation-z8">

            <table mat-table [dataSource]="dataSource" matSort class="table">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'students.name' | translate }} </th>
                    <td mat-cell *matCellDef="let student"> {{student.name}} </td>
                </ng-container>
    
                <ng-container matColumnDef="surname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'students.surname' | translate }} </th>
                    <td mat-cell *matCellDef="let student"> {{student.surname}} </td>
                </ng-container>
    
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'students.last_name' | translate }} </th>
                    <td mat-cell *matCellDef="let student"> {{student.lastName}} </td>
                </ng-container>
    
                <ng-container matColumnDef="DNI">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
                    <td mat-cell *matCellDef="let student"> {{student.DNI}} </td>
                </ng-container>
    
                <ng-container matColumnDef="birthdate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'students.birthdate' | translate }} </th>
                    <td mat-cell *matCellDef="let student"> {{student.birthdate  | date:'dd / MM / yyyy'}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>

            <div class="table-footer">
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                <button mat-mini-fab (click)="addStudent()" color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

        </div>


    </mat-tab>


</mat-tab-group>
