// Variables
// @import '../../../../variables.scss';
@import 'src/variables.scss';

$bar-color: #fff;
$ball-color: mat-color($primary);

$loader-width: 225px;
$loader-height: 300px;
$ball-size: 30px;

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  
  position: relative;
  width: $loader-width;
  height: $loader-height;
  
  &__bar {
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 50%;
    background: $bar-color;
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    
    @for $i from 1 through 5 { 
        &:nth-child(#{$i}) {
            left: ($i - 1) * 45px;
            transform: scale(1,$i*.2);
            animation: barUp#{$i} 3s infinite;
        }
    }
    
  }
  
  &__ball {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: $ball-size;
    height: $ball-size;
    background: $ball-color;
    border-radius: 50%;
    animation: ball 3s infinite;
  }
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(calc(8px * 3), calc(-14px * 3));
  }
  10% {
    transform: translate(calc(15px * 3), calc(-10px * 3))
  }
  17% {
    transform: translate(calc(23px * 3), calc(-24px * 3))
  }
  20% {
    transform: translate(calc(30px * 3), calc(-20px * 3))
  }
  27% {
    transform: translate(calc(38px * 3), calc(-34px * 3))
  }
  30% {
    transform: translate(calc(45px * 3), calc(-30px * 3))
  }
  37% {
    transform: translate(calc(53px * 3), calc(-44px * 3))
  }
  40% {
    transform: translate(calc(60px * 3), calc(-40px * 3))
  }
  50% {
    transform: translate(calc(60px * 3), 0)
  }
  57% {
    transform: translate(calc(53px * 3), calc(-14px * 3))
  }
  60% {
    transform: translate(calc(45px * 3), calc(-10px * 3))
  }
  67% {
    transform: translate(calc(37px * 3), calc(-24px * 3))
  }
  70% {
    transform: translate(calc(30px * 3), calc(-20px * 3))
  }
  77% {
    transform: translate(calc(22px * 3), calc(-34px * 3))
  }
  80% {
    transform: translate(calc(15px * 3), calc(-30px * 3))
  }
  87% {
    transform: translate(calc(7px * 3), calc(-44px * 3))
  }
  90% {
    transform: translate(0, calc(-40px * 3))
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes barUp1 { 
  0% {
    transform: scale(1, .2);
    background: $ball-color;
  }
  5% {
    transform: scale(1, .2);
    background: $bar-color;
  }
  40%{
    transform: scale(1, .2);
  }
  50% {
    transform: scale(1, 1);
  }
  89% {
    transform: scale(1, 1);
    background: $bar-color;
  }
  90% {
    transform: scale(1,1);
    background: $ball-color;
  }
  100% {
    transform: scale(1,.2);
    background: $ball-color;
  }
}
@keyframes barUp2 { 
  0% {
    transform: scale(1, .4);
  }
  9% {
    transform: scale(1, .4);
    background: $bar-color;
  }
  10% {
    transform: scale(1, .4);
    background: $ball-color;
  }
  11% {
    transform: scale(1, .4);
    background: $ball-color;
  }
  12% {
    transform: scale(1, .4);
    background: $ball-color;
  }
  13% {
    transform: scale(1, .4);
    background: $bar-color;
  }
  40% {
    transform: scale(1, .4);
  }
  50% {
    transform: scale(1, .8);
  }
  79% {
    transform: scale(1, .8);
    background: $bar-color;
  }
  80% {
    transform: scale(1, .8);
    background: $ball-color;
  }
  81% {
    transform: scale(1, .8);
    background: $ball-color;
  }
  82% {
    transform: scale(1, .8);
    background: $ball-color;
  }
  83% {
    transform: scale(1, .8);
    background: $bar-color;
  }
  90% {
    transform: scale(1, .8);
  }
  100% {
    transform: scale(1, .4);
  }
}
@keyframes barUp3 { 
  0% {
    transform: scale(1, .6);
  }
  19% {
    transform: scale(1, .6);
    background: $bar-color;
  }
  20% {
    transform: scale(1, .6);
    background: $ball-color;
  }
  21% {
    transform: scale(1, .6);
    background: $ball-color;
  }
  22% {
    transform: scale(1, .6);
    background: $ball-color;
  }
  23% {
    transform: scale(1, .6);
    background: $bar-color;
  }
  69% {
    transform: scale(1, .6);
    background: $bar-color;
  }
  70% {
    transform: scale(1, .6);
    background: $ball-color;
  }
  71% {
    transform: scale(1, .6);
    background: $ball-color;
  }
  72% {
    transform: scale(1, .6);
    background: $ball-color;
  }
  73% {
    transform: scale(1, .6);
    background: $bar-color;
  }
  100% {
    transform: scale(1, .6);
  }
}
@keyframes barUp4 { 
  0% {
    transform: scale(1, .8);
  }
  29% {
    transform: scale(1, .8);
    background: $bar-color;
  }
  30% {
    transform: scale(1, .8);
    background: $ball-color;
  }
  31% {
    transform: scale(1, .8);
    background: $ball-color;
  }
  32% {
    transform: scale(1, .8);
    background: $ball-color;
  }
  33% {
    transform: scale(1, .8);
    background: $bar-color;
  }
  40% {
    transform: scale(1, .8);
  }
  50% {
    transform: scale(1, .4);
  }
  59% {
    transform: scale(1, .4);
    background: $bar-color;
  }
  60% {
    transform: scale(1, .4);
    background: $ball-color;
  }
  61% {
    transform: scale(1, .4);
    background: $ball-color;
  }
  62% {
    transform: scale(1, .4);
    background: $ball-color;
  }
  63% {
    transform: scale(1, .4);
    background: $bar-color;
  }
  90% {
    transform: scale(1, .4);
  }
  100% {
    transform: scale(1, .8);
  }
}
@keyframes barUp5 { 
  0% {
    transform: scale(1, 1);
  }
  39% {
    transform: scale(1, 1);
    background: $bar-color;
  }
  40% {
    transform: scale(1, 1);
    background: $ball-color;
  }
  50% {
    transform: scale(1, .2);
    background: $ball-color;
  }
  51% {
    transform: scale(1, .2);
    background: $bar-color;
  }
  90% {
    transform: scale(1, .2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.stop-loading {
    animation: rotate 1s;
}

@keyframes rotate {
    100% {
        transform: rotateY(90deg);
    }
}
