
<div class="authenticated" *ngIf="authenticated">
    <mat-toolbar class="toolbar">
        <mat-toolbar-row>
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <div class="right-side">
                <mat-form-field class="language-selection" appearance="none">
                    <mat-select [(ngModel)]="activeLanguage" (selectionChange)="selectLanguage()">
                        <mat-select-trigger>
                            <mat-icon>language</mat-icon>
                        </mat-select-trigger>
                        <mat-option value="en" selected>{{ "languages.english" | translate }}</mat-option>
                        <mat-option value="es">{{ "languages.spanish" | translate }}</mat-option>
                        <mat-option value="ca">{{ "languages.catalan" | translate }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav mode="side" #drawer class="sidenav">
            <mat-nav-list>
                <a mat-list-item [routerLink]="'/students'"><mat-icon>menu_book</mat-icon>   Students</a>
                <a mat-list-item [routerLink]="'/students'">Second link</a>
                <a mat-list-item [routerLink]="'/students'">Third link</a>
                <a mat-list-item [routerLink]="'/students'">Fourth link</a>
                <a mat-list-item [routerLink]="'/students'">Fifth link</a>
            </mat-nav-list>

        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content" (click)="drawer.close()">
                <router-outlet></router-outlet> 
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>


<div class="to-login" *ngIf="!authenticated">
    <router-outlet></router-outlet>
</div>
