$toolbar-height: 6vh;
$content-height: 94vh;

.authenticated {
    max-height: 100%;
    overflow: hidden;
}

.to-login {
    height: 100vh;
    width: 100vw;
}

.toolbar {
    height: $toolbar-height;

    mat-toolbar-row {
        position: absolute;

        .right-side {
            position: absolute;
            right: 10px;

            .language-selection {
                width: 50px;
                transform: translateY(10px);
            }
        }
    }
}

.content {
    height: $content-height;
}
